# Core data science
matplotlib<=3.10
numpy>=2.3.4
pandas>=2.3.3
scipy>=1.16.3
scikit-learn>=1.7.2
seaborn>=0.13.2

# Network analysis
networkx>=3.5
karateclub>=1.2.2  # gclam algorithm
cdlib>=0.4.0
pygraphviz # Comment out if probelmatic: 
# just used for markov model vizualization

# Sentiment analysis
vaderSentiment>=3.3.2

# Jupyter Kernel
ipykernel>=7.1.0
